#################
# BuildingsList #
#################

#Spawn rate group between [0-10]
buildings={
		"test": {
			"buildings": {
				"test": {
					"dimentions": {},
					"enabled": false
				},
				"test-stone": {
					"dimentions": {},
					"enabled": false
				}
			},
			"globalSpawnRate": 0
		}
	}



