#LogicID (int:116,>=0.0,<=1023.0)
#IRPartsID (int:1004,>=0.0,<=31000.0)
#ScrewdriverID (int:1006,>=0.0,<=31000.0)
#EnableSounds (boolean:true)
#
#Sat Sep 05 17:32:00 CDT 2020
LogicID=116
ScrewdriverID=1006
IRPartsID=1004
EnableSounds=true
