#ModLoader Config
#Sat Sep 05 17:32:02 CDT 2020
mod_RedPowerArray=on
mod_ModsMenu=on
mod_TooManyItems=on
mod_BuildCraftTransport=on
mod_RedPowerLighting=on
mod_BuildCraftFactory=on
mod_BuildCraftBuilders=on
mod_RedPowerCore=on
mod_IndustrialCraft=on
mod_BuildCraftEnergy=on
loggingLevel=FINER
grassFix=true
mod_RedPowerLogic=on
mod_RedPowerWiring=on
mod_BuildCraftCore=on
mod_ReiMinimap=on
