# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# 
# Fri Apr 29 09:00:27 CDT 2022
allowDebugOutput=false
allowUpdateCheck=false
checksum=1wk
