#MLProperties: name (type:default) min:max -- information
#MLProp : couchRightRedID (int:244)
#MLProp : itemLampID (int:1018)
#MLProp : itemCouchBrownID (int:1008)
#MLProp : itemBlindsID (int:1011)
#MLProp : itemTableWoodID (int:1001)
#MLProp : blindsClosedID (int:253)
#MLProp : couchLeftWhiteID (int:237)
#MLProp : itemCarpetGreenID (int:1014)
#MLProp : couchRightBrownID (int:242)
#MLProp : itemCarpetWhiteID (int:1013)
#MLProp : itemCouchGreenID (int:1007)
#MLProp : coffeeTableWoodID (int:231)
#MLProp : itemCouchBlackID (int:1010)
#MLProp : carpetID (int:247)
#MLProp : chairStoneID (int:228)
#MLProp : itemChairWoodID (int:1002)
#MLProp : couchRightWhiteID (int:238)
#MLProp : itemTableStoneID (int:1021)
#MLProp : couchRightGreenID (int:240)
#MLProp : itemCarpetBrownID (int:1015)
#MLProp : coolPackID (int:1019)
#MLProp : fridgeID (int:234)
#MLProp : tableWoodID (int:232)
#MLProp : itemCarpetBlackID (int:1017)
#MLProp : curtainsClosedID (int:255)
#MLProp : itemCoffeeTableStoneID (int:1022)
#MLProp : blindsID (int:252)
#MLProp : chairWoodID (int:233)
#MLProp : lampID (int:229)
#MLProp : itemCurtainsID (int:1012)
#MLProp : couchLeftBlackID (int:245)
#MLProp : itemCoffeeTableWoodID (int:1004)
#MLProp : couchLeftRedID (int:243)
#MLProp : itemFridgeID (int:1005)
#MLProp : itemCarpetRedID (int:1016)
#MLProp : couchLeftBrownID (int:241)
#MLProp : couchLeftGreenID (int:239)
#MLProp : itemCouchWhiteID (int:1006)
#MLProp : couchRightBlackID (int:246)
#MLProp : curtainsID (int:254)
#MLProp : tableStoneID (int:227)
#MLProp : itemCouchRedID (int:1009)
#MLProp : cabinetID (int:236)
#MLProp : coffeeTableStoneID (int:226)
#MLProp : itemCabinetID (int:1003)
#MLProp : lamp2ID (int:230)
#MLProp : itemChairStoneID (int:1020)
#MLProp : fridge2ID (int:235)
#
#Fri Dec 18 22:29:11 CST 2015
itemChairWoodID=1002
couchLeftGreenID=239
couchLeftWhiteID=237
itemCarpetBrownID=1015
itemCouchRedID=1009
itemCarpetRedID=1016
lamp2ID=230
couchRightRedID=244
fridgeID=234
couchLeftRedID=243
itemCouchBlackID=1010
chairStoneID=228
fridge2ID=235
blindsID=252
coffeeTableStoneID=226
tableWoodID=232
blindsClosedID=253
couchRightBlackID=246
curtainsID=254
coolPackID=1019
itemFridgeID=1005
itemLampID=1018
itemCouchBrownID=1008
itemBlindsID=1011
couchRightBrownID=242
itemTableStoneID=1021
lampID=229
itemCarpetGreenID=1014
itemCarpetWhiteID=1013
itemCurtainsID=1012
couchLeftBlackID=245
itemCoffeeTableStoneID=1022
cabinetID=236
itemTableWoodID=1001
chairWoodID=233
itemCoffeeTableWoodID=1004
itemCouchWhiteID=1006
couchLeftBrownID=241
itemCouchGreenID=1007
carpetID=247
couchRightWhiteID=238
couchRightGreenID=240
tableStoneID=227
curtainsClosedID=255
itemCabinetID=1003
itemChairStoneID=1020
coffeeTableWoodID=231
itemCarpetBlackID=1017
