# Configuration file

general {
    # Are these messages displayed at the same time? False to cycle through them randomly.
    B:"All In One"=true

    # How many lines you are using. Use come common sense here :P - Run minecraft once after changing this to generate options for more lines.
    I:Lines=2

    # Text color line 1 - This must be hexadecimal ( RRGGBB )
    S:"Text Color - Line 1"=FFFFFF

    # Text - Line 1
    S:"Text Line 1"=Telkit II: Thursday, April 28, 2022
	
	# Text color line 2 - This must be hexadecimal ( RRGGBB )
    S:"Text Color - Line 2"=FFFFFF

    # Text - Line 2
    S:"Text Line 2"=Newest PureBDcraft Patch Collection: Wednesday, August 19, 2020

    # Positions: 0 - Top Left corner, 1 - Top right corner, 2 - Bottom left corner, 3 - Bottom right corner.
    I:"Text Position"=0
}


