# Configuration file

####################
# block
#===================
# These are the assigned IDs for the blocks of BaconMod
####################

block {
    I:"Bacon Flower ID"=2001
    I:"Bacon Leaves ID"=2004
    I:"Bacon Log ID"=2003
    I:"Bacon Ore ID"=2000
    I:"Bacon Sapling ID"=2005
    I:"Corn Crop ID"=2006
    I:"Peaceful Flower 2 ID"=2008
    I:"Peaceful Flower 3 ID"=2009
    I:"Peaceful Flower ID"=2007
    I:"Peaceful Leaves 2 ID"=2011
    I:"Peaceful Leaves 3 ID"=2012
    I:"Peaceful Leaves ID"=2010
    I:"Peaceful Sapling 2 ID"=2014
    I:"Peaceful Sapling 3 ID"=2015
    I:"Peaceful Sapling ID"=2013
}


####################
# generation stuff
#===================
# These are the Generation Stuff, Setting These to false will stop from generating stuff
####################

"generation stuff" {
    B:"Can Bacon Block Gen?"=true
    B:"Can Flower Gen?"=true
    B:"Can trees Gen?"=true
    B:"Disable All Gen Stuff?"=false
}


####################
# item
#===================
# These are the assigned IDs for the items of BaconMod
####################

item {
    I:"Bacon Arrow ID"=1039
    I:"Bacon Axe ID"=1006
    I:"Bacon Boots ID"=1003
    I:"Bacon Bow ID"=1038
    I:"Bacon EC ID"=1019
    I:"Bacon Grenade ID"=1011
    I:"Bacon Gun ID"=1010
    I:"Bacon Helmet ID"=1000
    I:"Bacon Hoe ID"=1007
    I:"Bacon Legs ID"=1002
    I:"Bacon Pickaxe ID"=1005
    I:"Bacon Plate ID"=1001
    I:"Bacon SandwichID"=1015
    I:"Bacon Shovel ID"=1008
    I:"Bacon Staff ID"=1036
    I:"Bacon Sword ID"=1004
    I:"Beer ID"=1024
    I:"Beer Mug ID"=1033
    I:"Cereal ID"=1023
    I:"Cheese Slice ID"=1018
    I:"Cheese Wheel ID"=1016
    I:"Chocolate Milk ID"=1035
    I:"Cooked Bacon ID"=1013
    I:"Cooked Egg ID"=1014
    I:"Corn ID"=1032
    I:"Corn Seeds ID"=1009
    I:"Gay Bacon ID"=1020
    I:"Glass Cup ID"=1034
    I:"Meat ID"=1030
    I:"Meat Soup ID"=1031
    I:"Nutella ID"=1025
    I:"Nutella on Bread ID"=1026
    I:"Popcron ID"=1037
    I:"Quesadilla ID"=1028
    I:"Raw Bacon ID"=1012
    I:"Raw Meat ID"=1029
    I:"Taco ID"=1022
    I:"Taco Shell ID"=1021
    I:"Tortilla ID"=1027
}


####################
# peace dimension stuff
####################

"peace dimension stuff" {
    # The Maximum Id That U Can Set Its 256
    I:"Bacon Dirt"=212

    # The Maximum Id That U Can Set Its 256
    I:"Bacon Grass"=210

    # The Maximum Id That U Can Set Its 256
    I:"Bacon Stone"=211
    B:"Dimension Allowed?"=true
    I:"Peace Dimension Id"=58
}


