# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# updateTimeoutMilliseconds (int:3000) -- The timeout in milliseconds for the version update check.
# 
# Wed Mar 09 09:08:52 CST 2022
allowDebugOutput=false
allowUpdateCheck=false
updateTimeoutMilliseconds=3000
