#Enable different perspective heights for different model sizes
EnablePOV=true

#Enables that when you press X or Z that a command is send to the server
EnableCommands=true

#Enables the item on your back
EnableBackItem=true

#If you want to show rainbows for a different person, change the name below
Rainbow=NobuShagrath

Tooltips=1

EnableChatBubbles=true

