# Configuration file

####################
# generic
####################

generic {
    # Aggressively calculate bounding box culling with no breathing room. May result in additional performance at the cost of stability and/or graphics issues.
    B:aggressiveMode=false

    # Try this before sending an issue report.
    B:debugMode=false

    # Comma-separated list of entities and blocks whitelisted from this mod, e.g. tile.beacon
    S:entityWhitelist=tile.beacon

    # Limit to a hitbox (anything larger than this will be considered too big to cull
    I:hitboxLimit=50

    # The delay between async pathtracing runs that update which TEs need to be culled
    I:sleepDelay=10

    # 128 works out to be roughly equal to Minecraft's defaults
    I:tracingDistance=128
}


