##############
# Blocks Ids #
##############

blockWoodBlocksOneID=1200

blockWoodBlocksTwoID=1201

blockWoodBlocksThreeID=1203

blockWoodBlocksFourID=1221

blockBathTubID=1204

blockIronBlocksOneID=1205

blockIronBlocksTwoID=1206

blockCeramicBlocksOneID=1207

blockRoofingBlocksOneID=1208

blockMobHeadsOneID=1209

blockMobHeadsTwoID=1210

blockMobHeadsThreeID=1211

blockMobHeadsFourID=1212

blockArmChairID=1213

blockSofaPartLeftID=1214

blockSofaPartRightID=1215

blockSofaPartCenterID=1216

blockSofaPartCornerID=1217

blockMiscBlocksOneID=1218

blockLightsOnID=1219

blockLightsOffID=1220



#############
# Items Ids #
#############

itemLightBulbID=5000

itemMantlePieceUnfID=5001

itemCeramicPanelUnfID=5002

itemCeramicPanelID=5003

itemWMDrumID=5004

itemBlindPartID=5005



