# Configuration file

####################
# block
####################

block {
    I:accelerator=1247
    I:armbot=4091
    I:battery=4092
    I:breaker=4095
    I:castingMold=4078
    I:centrifuge=1236
    I:chemicalExtractor=1239
    I:controlRod=1241
    I:conveyorBelt=4071
    I:crate=4084
    I:detector=4069
    I:dust=4086
    I:electricTurbine=1235
    I:electromagnet=1244
    I:engineeringTable=4085
    I:filter=4075
    I:firebox=4081
    I:fulmination=1248
    I:funnel=1246
    I:grate=4076
    I:grindingWheel=1222
    I:gutter=4077
    I:hotPlate=4080
    I:imprinter=4083
    I:industrialStone=4087
    I:manipulator=4070
    I:mechanicalPiston=1224
    I:millstone=4079
    I:mixer=1223
    I:mixture_aluminum=1264
    I:mixture_copper=4053
    I:mixture_gold=4049
    I:mixture_iron=4055
    I:mixture_lead=1252
    I:mixture_nickel=1254
    I:mixture_osmium=4047
    I:mixture_silver=1260
    I:mixture_tin=4051
    I:molten_aluminum=1263
    I:molten_copper=4054
    I:molten_gold=4050
    I:molten_iron=4056
    I:molten_lead=1251
    I:molten_nickel=1253
    I:molten_osmium=4048
    I:molten_silver=1259
    I:molten_tin=4052
    I:motor=1231
    I:nuclearBoiler=1238
    I:placer=4094
    I:plasma=4088
    I:plasmaHeater=1240
    I:pump=4067
    I:quantumAssembler=1249
    I:radioactive=1233
    I:reactorCell=1237
    I:refinedDust=1202
    I:siren=1245
    I:solarPanel=4090
    I:sorter=4068
    I:tank=4074
    I:tesla=4093
    I:thermometer=1242
    I:thermopile=1232
    I:toxicWaste=1250
    I:turntable=4082
    I:uraniumOre=1234
    I:waterTurbine=4072
    I:windTurbine=4073
}


####################
# enabled_list
####################

enabled_list {
    B:Enabled_biomass=true
    B:Enabled_charger=true
    B:Enabled_devStaff=true
    B:Enabled_flour=true
    B:Enabled_gear=true
    B:Enabled_gearShaft=true
    B:Enabled_hammer=true
    B:Enabled_handCrank=true
    B:Enabled_imprint=true
    B:Enabled_levitator=true
    B:Enabled_multimeter=true
    B:Enabled_pipe=true
    B:Enabled_quantumGlyph=true
    B:Enabled_transformer=true
    B:Enabled_uranium=true
    B:Enabled_wire=true
}


####################
# general
####################

general {
    I:BlockIDPrefix=1200
    B:"Engineering Table Autocraft"=true
    I:ItemIDPrefix=20150
    D:"Levitator Acceleration"=0.02
    I:"Levitator Max Reach"=40
    D:"Levitator Max Speed"=0.2
    I:"Levitator Push Delay"=5
    I:"Max EM Contractor Path"=200
    B:"Shiny silver Wires"=true
    B:"Tesla Sound FXs"=true
    B:allowAlternateRecipes=true
    B:allowIC2UraniumCompression=true
    B:allowOreDictCompatibility=true
    B:allowOreDictionaryCompatibility=true
    B:allowRadioactiveOres=true
    B:allowToxicWaste=true
    B:allowTurbineStacking=true
    D:darkMatterSpawnChance=0.2
    I:deutermiumPerTritium=4
    D:fissionBoilVolumeMultiplier=1.0
    D:fulminationOutputMultiplier=1.0
    D:grateDrainSpeedMultiplier=0.01
    D:grateEffectMultiplier=5.0
    I:mechanicalPistonBreakCount=5
    I:plasmaHeatAmount=100
    I:plasmaMaxTemperature=1000000
    I:quantumAssemblerGenerateMode=1
    I:quantumAssemblerRecipes <
     >
    D:turbineOutputMultiplier=1.0
    I:uraniumHexaflourideRatio=200
    I:waterPerDeutermium=4
}


####################
# item
####################

item {
    I:HazmatBody=20173
    I:HazmatBoots=20175
    I:HazmatBottom=20174
    I:HazmatTop=20172
    I:"Toxic Waste Bucket"=20186
    I:antimatter=20182
    I:biomass=20155
    I:bucketMixture=20153
    I:bucketMolten=20154
    I:cellDeuterium=20178
    I:cellEmpty=20176
    I:cellTritium=20179
    I:cellWater=20180
    I:charger=20167
    I:darkMatter=20181
    I:devStaff=20156
    I:flour=20157
    I:gear=20161
    I:gearShaft=20162
    I:hammer=20160
    I:handCrank=20158
    I:imprint=20159
    I:insulation=20169
    I:laserDrill=20170
    I:levitator=20168
    I:multimeter=20165
    I:oreDust=20151
    I:oreRefinedDust=20152
    I:oreRubble=20150
    I:pipe=20163
    I:quantumGlyph=20171
    I:rodBreederFuel=20183
    I:rodFissileFuel=20177
    I:transformer=20166
    I:uranium=20185
    I:wire=20164
    I:yellowcake=20184
}


####################
# ore_generation
####################

ore_generation {
    B:"Generate Uranium Ore"=true
}


####################
# power
####################

power {
    I:Solor_Panel=50
    I:Water_tubine_Ratio=1
    I:Wind_tubine_Ratio=1
}


####################
# resource_generator
####################

resource_generator {
    B:"Enable Aluminum"=true
    B:"Enable Blutonium"=true
    B:"Enable Bronze"=true
    B:"Enable Copper"=true
    B:"Enable Cyanite"=true
    B:"Enable Desh"=true
    B:"Enable Electrum"=true
    B:"Enable Enderium"=true
    B:"Enable Gold"=true
    B:"Enable Graphite"=true
    B:"Enable Invar"=true
    B:"Enable Iron"=true
    B:"Enable Lead"=true
    B:"Enable MeteoricIron"=true
    B:"Enable Nickel"=true
    B:"Enable Osmium"=true
    B:"Enable Platinum"=true
    B:"Enable Plutonium"=true
    B:"Enable RefinedGlowstone"=true
    B:"Enable RefinedIron"=true
    B:"Enable RefinedObsidian"=true
    B:"Enable Silver"=true
    B:"Enable Steel"=true
    B:"Enable Tin"=true
    B:"Enable Uranium"=true
    B:"Enable Yellorium"=true
    B:Enable_All=true
    B:Enabled_All_Fluids=true
}


